body{
    width: 70%;
    margin: auto;
}
body img{
    height: 200px;
    width: 300px;
}
.navbar{
    color: white;
    background-color: black;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 40px;
    font-weight: 900;
}
.navbar li{
    color: white;
}
li{
    list-style-type: none;
}
span{
    padding: 10px;
    height: 25px;
    background-color: #ED661F;
}
#popins{
    font-family: 'Inter';
    font-size: xx-large;
}
.About{
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    background-image: url(/Images/image\ 1.png);
    background-size: contain;

}
.About img{
    left: 500px;
    height: 300px;
    width: 400px;
    top: 150px;
}
.stats{
    display: flex;
    justify-content: space-around;
    box-shadow:3px 3px rgb(224, 219, 219);
    width: 800px;
    height:80px ;
    font-family: 'Inter';
    font-weight: bolder;
    position: absolute;
    right: 400px;
    bottom: 380px;
    background-color: white;
    padding: 20px;
}
.why{
    display: flex;
    font-family: 'Inter';
    justify-content: space-around;

}
h2{
    font-family: 'Inter';
    font-weight: bolder;
}
.products{
    text-align: center;
    font-family: 'Inter';
}
.popular{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
}
.products img{
    height: 150px;
    width: 200px;
}
.newest{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
}
.newest img{
    height: 180px;
    width:300px ;
}
#more:hover{
    background-color: #ED661F;
}
.right{
    text-align: right;
}
.right:hover{
    color: #ED661F;
}
#shadow{
    box-shadow:3px 3px 2px 5px rgb(197, 187, 187);
}
.reviews{
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-weight: bolder;
}
.reviews img{
    height: 40px;
    width: 40px;
}
#first{
    box-shadow:3px 3px rgb(224, 219, 219);
    height:250px ;
    width: 200px;
}
#second{
    box-shadow:3px 3px rgb(224, 219, 219);
    height:250px ;
    width: 200px;
}
#third{
    box-shadow:3px 3px rgb(224, 219, 219);
    height:250px ;
    width: 200px;
}
footer{
    background-color: black;
    color: white;
    height: 700px;
}
.center{
    text-align: center;
}
.subscribe{
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: space-around;
}
a:hover{
    background-color: #ED661F;
}
i{
    color: #ED661F;
    /* width: 10px; */
    height: 30px;
}
#tail{
    color: white;
    height: 50px;
    width: 30px;
}
.icons{
    display:flex;
    justify-content: space-between;
}
#android img{
    height: 70px;
    width: 180px;
}
#apple img{ 
    height: 70px;
    width: 180px;
}