body{
    width: 80%;
    margin: auto;
}
body img{
    height: 200px;
    width: 300px;
}
.navbar{
    color: white;
    background-color: black;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 40px;
    /* font-family: 'Poppins'; */
    font-weight: 900;
}
li{
    list-style-type: none;
}
span{
    padding: 10px;
    height: 25px;
    background-color: #ED661F;
}
#popins{
    font-family: 'Poppins';
    font-size: xx-large;
}
.About{
    /* display: flex; */
    /* background-image: ; */
}
.About img{
    position: absolute;
    left: 500px;
    height: 200px;
    width: 300px;
    top: 150px;
}
.stats{
    display: flex;
    justify-content: space-around;
    box-shadow:3px 3px rgb(224, 219, 219);
    /* background-color: red; */
    height:80px ;
    font-family: 'Inter';
    font-weight: bolder;
    /* font-size: large; */
}