body{
    width: 70%;
    margin: auto;
}
body img{
    height: 200px;
    width: 300px;
}
.navbar{
    color: white;
    background-color: black;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 40px;
    /* font-family: 'Poppins'; */
    font-weight: 900;
}
.navbar li{
    color: white;
}
li{
    list-style-type: none;
}
span{
    padding: 10px;
    height: 25px;
    background-color: #ED661F;
}
#popins{
    font-family: 'Poppins';
    font-size: xx-large;
}
.About{
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 400px;
    background-image: url(/Images/image\ 1.png);
    /* background-color: red; */
    background-position: 50% 100%;

}
.About img{
    /* position:; */
    left: 500px;
    height: 200px;
    width: 300px;
    top: 150px;
}
.stats{
    display: flex;
    justify-content: space-around;
    box-shadow:3px 3px rgb(224, 219, 219);
    width: 800px;
    height:80px ;
    font-family: 'Inter';
    font-weight: bolder;
    /* text-align: center; */
    /* font-size: large; */
}
.why{
    display: flex;
    font-family: 'Inter';
    justify-content: space-around;

}
.why image{
    /* position: absolute; */
    top: 150px;
    /* left: 500px; */
    /* right: 300px; */
    /* justify-content: space-around; */
}
h2{
    font-family: 'Poppins';
    font-weight: bolder;
    /* color: rebeccapurple; */
}
.products{
    text-align: center;
    font-family: 'Inter';
}
.popular{
    display: flex;
    justify-content: space-between;
}
.products img{
    height: 150px;
    width: 200px;
}
.newest{
    display: flex;
    justify-content: space-around;
}
.newest img{
    height: 180px;
    width:300px ;
}
#more:hover{
    /* text-align: right; */
    background-color: #ED661F;
    /* width: 10px; */
}
.right{
    text-align: right;
}
.right:hover{
    color: #ED661F;
}
#shadow{
    box-shadow:3px 3px 2px 5px rgb(197, 187, 187);
    /* background-color: */
    /* color: red; */
}
.reviews{
    display: flex;
    justify-content: space-around;
}
.reviews img{
    height: 40px;
    width: 40px;
}
/* .reviews :first-child{
    color: red;
    box-shadow:3px 3px rgb(216, 15, 15);
} */
#first{
    box-shadow:3px 3px rgb(224, 219, 219);
    height:180px ;
    width: 180px;
}
#second{
    box-shadow:3px 3px rgb(224, 219, 219);
    height:180px ;
    width: 180px;
}
#third{
    box-shadow:3px 3px rgb(224, 219, 219);
    height:180px ;
    width: 180px;
}
footer{
    background-color: black;
    color: white;
    height: 700px;
}
.center{
    text-align: center;
}
.subscribe{
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: space-around;
}
a:hover{
    background-color: #ED661F;
}
i{
    color: #ED661F;
    /* width: 10px; */
    height: 30px;
}
#tail{
    color: white;
    height: 50px;
    width: 30px;
}
.icons{
    display:flex;
    justify-content: space-around;
}
.android{
    border: 1px solid white;
    background-color: aliceblue;
    color: black;
    width: 120px;
    height: 90px;

}
.apple{
    border: 1px solid white;
    background-color: aliceblue;
    color: black;
    width: 120px;
    height: 90px;
}